target
*.iml
*.iml.bak
*.ipr
*.iws
.idea
.DS_Store
RUNNING_PID
*.swp
.idea_modules
scripts/bin/*
scripts/gulp/node_modules
logs/*
dist/*
.sass-cache
bin/
conf/version.conf
/.target
/.settings
.cache
.classpath
.project
.cache
/conf/zendesk-credentials.conf
